/* global app styles go in here */

.mui-appbar  {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mui-appbar h1,
.mui-appbar h2,
.mui-appbar h3,
.mui-appbar h4,
.mui-appbar h5,
.mui-appbar h6
{
  margin: 0;
}

input[type=color] {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  border: none;
  outline: transparent;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

form {
  overflow: auto;
  flex: 1;
  padding: 20px;
}